@font-face {
    font-family: "CoreSansC-Regular";
    src: url("../fonts/CoreSansC-45Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "CoreSansC-Medium";
    src: url("../fonts/CoreSansC-55Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}
